extends layout

block content
  include navbar.pug
  main(role="main", class="flex-shrink-0")
    div(class="container")
      h1(class="md-2") Servicios
      div(class="row justify-content-md-center")
        div(class="col")
          div(class="list-group")
            a(
              href="./pedido",
              class="btn btn-primary btn-lg active"
            ) Nueva orden de exámenes
            a(
              href="#"
              class="btn btn-primary btn-lg active"
            ) Resultados
            a(
              href="#"
              class="btn btn-primary btn-lg active"
            ) Mis pacientes
            if isAdmin
              a(
                href="/admin/listadoOrdenes"
                class="btn btn-primary btn-lg active"
              ) Administración
