extends layout

block content
  include navbar.pug
  main(role="main", class="flex-shrink-0")
    div(class="container")
      h1(class="md-2") Servicios
      div(class="row justify-content-md-center")
        div(class="col col-lg-2")
          div(class="list-group")
            a(
              href="./pedido",
              class="list-group-item list-group-item-action"
            ) Nueva orden de exámenes
            a(
              href="#"
              class="list-group-item list-group-item-action"
            ) Resultados
            a(
              href="#"
              class="list-group-item list-group-item-action"
            ) Mis pacientes
