extends layout
    
block content
    include navbar.pug
    
    script(src="/javascripts/pedido.js")
    main(class="flex-shrink-0", role="main")
        div(class="container")
            h2.mt-2 Nueva Orden de Ex&aacute;menes
            form(name="pedido" method="POST" action="/pedido" id="formPedido").mb-5.needs-validation
                -//var idPedido= idPedido
                input(type="hidden" name="pedido.id" value= idPedido)
                input(type="hidden" name="pedido.nombreDoctor" value= doctorName)
                input(type="hidden" name="pedido.emailDoctor" valure= doctorEmail)
                h3.mt-2 Datos del paciente
                .form-row.mb-2
                    .col
                        label(for="pacienteNombre" hidden=true ) Nombre
                        input(type="text" name="paciente.nombre" id="pacienteNombre" placeholder="Nombre del paciente" maxlength=256 minlength=5 required).form-control
                .form-row
                    .col
                        .form-group
                            label(for="pacienteEdad" hidden=true ) Edad
                            input(type="number" name="paciente.edad" id="pacienteEdad" placeholder="Edad (años)" min=0 max=130 required).form-control
                    .col
                        .custom-control.custom-radio.custom-control-inline
                            input(type="radio" name="paciente.sexo" id="pacienteSexoF" value="F" checked=true).custom-control-input
                            label(for="pacienteSexoF").custom-control-label Femenino
                        .custom-control.custom-radio.custom-control-inline
                            input(type="radio" name="paciente.sexo" id="pacienteSexoM" value="M" checked=false).custom-control-input
                            label(for="pacienteSexoM").custom-control-label Masculino
                .form-row
                    .col
                        .form-group
                            label(for="pacienteTelefono" hidden=true) Teléfono
                            input(type="tel" name="paciente.telefono" id="pacienteTelefono" placeholder="Teléfono de contacto" required).form-control
                    .col
                        .form-group
                            label(for="pacienteEmail" hidden=true) e-mail
                            input(type="email" id="pacienteEmail" placeholder="e-mail paciente" name="paciente.email").form-control
                ul.nav.nav-pills.nav-justified.mb-3
                    li.nav-item
                        a(
                            href="#" 
                            onclick="toggleNavs('laboratorio')"
                            id="nav_laboratorio"
                        ).nav-link.active Laboratorio
                    li.nav-item
                        a(
                            href="#"
                            onclick="toggleNavs('imagen')"
                            id="nav_imagen"
                        ).nav-link Imagen
                    if isMobile
                        li.nav-item
                            a(
                                href="#"
                                onclick="toggleNavs('foto')"
                                id="nav_foto"
                            ).nav-link Capturar Fotografía
                    

                div(class="acordion" id="laboratorio")
                    include laboratorio/hematologia.pug
                    include laboratorio/coagulacion.pug
                    include laboratorio/quimicaSanguinea.pug
                    include laboratorio/inmunodiagnostico.pug
                    include laboratorio/drogas.pug
                    include laboratorio/orina.pug
                    include laboratorio/heces.pug 
                    include laboratorio/bacteriologia.pug
                    include laboratorio/electrolitos.pug 
                    include laboratorio/autoinmunidad.pug 
                    include laboratorio/marcadoresTumorales.pug 
                    include laboratorio/estudiosEspeciales.pug 
                    include laboratorio/patologia.pug 
                    include laboratorio/seroinmunologia.pug 
                    include laboratorio/perfiles.pug 
                div(class="acordion" id="imagen")
                    include imagen/tomografiaAxialComputarizada.pug 
                    include imagen/ecografiaMedica.pug 
                    include imagen/rayosXMamografia.pug 
                    include imagen/densitometria.pug 
                    include imagen/densitometriaPediatrica.pug 
                    include imagen/endoscopiaDigestiva.pug 
                    include imagen/otrosServicios.pug 
                div(id="foto").container
                    include photoCapture.pug
                        
                
                .fixed-bottom
                    .d-flex.flex-row-reverse.bg-light
                        .p-2.mr-5   
                            button(type="submit" data-toggle="tooltip" data-placement="top" title="Enviar").btn.btn-success.bmd-btn-fab
                                i.material-icons done
                        .p-2.mr-1
                            button(type="button" data-toggle="tooltip" data-placement="top" title="Cancelar").btn.btn-danger.bmd-btn-fab
                                i.material-icons cancel
    script.
        const navs = {
            laboratorio:{
                nav:'nav_laboratorio',
                container:'laboratorio' 
            },
            imagen:{
                nav:'nav_imagen',
                container:'imagen'
            },
            foto:{
                nav:'nav_foto',
                container:'foto'
            }
        }
        const toggleNavs = (navId) => {
            for (n in navs) {
                if (n==navId) {
                    $(`#${navs[n].nav}`).addClass('active')
                    $(`#${navs[n].container}`).show();
                } else {
                    $(`#${navs[n].nav}`).removeClass('active')
                    $(`#${navs[n].container}`).hide();
                }
            }
        }
        toggleNavs('laboratorio')