
.form-row
    .col(id="photoAlerts")
.form-row
    .col
        .upload-btn-wrapper
            button(type="button" id="imagenOrdenBtn").btn.btn-basic.bmd-btn-fab
                i.material-icons add_a_photo
            input(type="file" accept="image/*" capture="environment" id="imagenOrden")
.form-row
    .col(id="photoCanvas").d-flex

//- Photo upload modal
.modal.fade(
    id="uploadingModal" 
    data-backdrop="static"
    tabindex="-1"
    role="dialog"
    aria-labelledby="uploadingModalLabel"
    aria-hidden=true
    )
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="uploadModalLabel") Enviando orden
            .modal-body
                .spinner-border(role="status")
                    span.sr-only Subiendo imágenes...
            .modal-footer &nbsp;