div(class="card")
    div(class="card-header bg-secondary" id="imagenEcografiaMedicaTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#imagenEcografiaMedica",
                aria-expanded="true",
                aria-controls="imagenEcografiaMedica"
            ) 
                span(data-toggle="collapse" data-target="#imagenEcografiaMedica").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Ecografía Médica
    div(id="imagenEcografiaMedica" class="collapse hide" aria-labelledby="imagenEcografiaMedicaTitulo" data-parent="#imagen")
        div(class="card-body")
            .row
                .col-lg
                    h5 MEDICINA INTERNA
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMedicinaInternaAbdomenInferior" 
                                name="imagen.EcografiaMedicinaInterna" 
                                value="Abdomen inferior (apéndice)"
                            ) 
                            label(for="imagenEMMedicinaInternaAbdomenInferior").text-dark Abdomen inferior (apéndice)
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMedicinaInternaProstataSuprapubico" 
                                name="imagen.EcografiaMedicinaInterna" 
                                value="Próstata (suprapúbico)"
                            ) 
                            label(for="imagenEMMedicinaInternaProstataSuprapubico").text-dark Próstata (suprapúbico)
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMedicinaInternaAbdomenSuperior" 
                                name="imagen.EcografiaMedicinaInterna" 
                                value="Abdomen superior"
                            ) 
                            label(for="imagenEMMedicinaInternaAbdomenSuperior").text-dark Abdomen superior
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMedicinaInternaProstataTransrectal" 
                                name="imagen.EcografiaMedicinaInterna" 
                                value="Próstata transrectal"
                            ) 
                            label(for="imagenEMMedicinaInternaProstataTransrectal").text-dark Próstata transrectal
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMedicinaInternaSuprarenales" 
                                name="imagen.EcografiaMedicinaInterna" 
                                value="Suprarenales"
                            ) 
                            label(for="imagenEMMedicinaInternaSuprarenales").text-dark Suprarenales
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMedicinaInternaVejiga" 
                                name="imagen.EcografiaMedicinaInterna" 
                                value="Vejiga"
                            ) 
                            label(for="imagenEMMedicinaInternaVejiga").text-dark Vejiga
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMedicinaInternaRenal" 
                                name="imagen.EcografiaMedicinaInterna" 
                                value="Renal"
                            ) 
                            label(for="imagenEMMedicinaInternaRenal").text-dark Renal
                .col-sm
            .row
                .col-lg
                    h5 GINECOLOGIA Y OBSTETRICIA
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsPelvicoSuprapubico" 
                                name="imagen.EcografiaMGinObs" 
                                value="Pélvico suprapúbico"
                            ) 
                            label(for="imagenEMMGinObsPelvicoSuprapubico").text-dark Pélvico suprapúbico
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsMamas" 
                                name="imagen.EcografiaMGinObs" 
                                value="Mamas"
                            ) 
                            label(for="imagenEMMGinObsMamas").text-dark Mamas
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsPelvicoTransvaginal" 
                                name="imagen.EcografiaMGinObs" 
                                value="Pélvico transvaginal"
                            ) 
                            label(for="imagenEMMGinObsPelvicoTransvaginal").text-dark Pélvico transvaginal
                .col-sm
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsMonitoreoFolicular" 
                                name="imagen.EcografiaMGinObs" 
                                value="Monitoreo folicular transvaginal"
                            ) 
                            label(for="imagenEMMGinObsMonitoreoFolicular").text-dark Monitoreo folicular transvaginal
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsSonohisterografia" 
                                name="imagen.EcografiaMGinObs" 
                                value="Sonohisterografía"
                            ) 
                            label(for="imagenEMMGinObsSonohisterografia").text-dark Sonohisterografía
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstetricoEndovaginal" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico endovaginal (I trimestre)"
                            ) 
                            label(for="imagenEMMGinObsObstetricoEndovaginal").text-dark Obstétrico endovaginal (I trimestre)
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstericoTrimestre1" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico primer trimestre"
                            ) 
                            label(for="imagenEMMGinObsObstericoTrimestre1").text-dark Obstétrico primer trimestre
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsDetalleMorfologicoFetal" 
                                name="imagen.EcografiaMGinObs" 
                                value="Detalle morfológico fetal"
                            ) 
                            label(for="imagenEMMGinObsDetalleMorfologicoFetal").text-dark Detalle morfológico fetal
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstetricoTrimestre2y3" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico II y II trimestre"
                            ) 
                            label(for="imagenEMMGinObsObstetricoTrimestre2y3").text-dark Obstétrico II y II trimestre
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstetricoCrecimiento" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico de crecimiento"
                            ) 
                            label(for="imagenEMMGinObsObstetricoCrecimiento").text-dark Obstétrico de crecimiento
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstetricoAnatomico" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico antómico (22-23 sem)"
                            ) 
                            label(for="imagenEMMGinObsObstetricoAnatomico").text-dark Obstétrico antómico (22-23 sem)
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsValoracionCuello" 
                                name="imagen.EcografiaMGinObs" 
                                value="Valoración de cuello y cervicometría"
                            ) 
                            label(for="imagenEMMGinObsValoracionCuello").text-dark Valoración de cuello y cervicometría
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstetricoPerfilBiofisico" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico con perfil biofísico"
                            ) 
                            label(for="imagenEMMGinObsObstetricoPerfilBiofisico").text-dark Obstétrico con perfil biofísico
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsScreeningEcografico" 
                                name="imagen.EcografiaMGinObs" 
                                value="Screening ecográfico de aneuploidias (11-13,6 semanas)"
                            ) 
                            label(for="imagenEMMGinObsScreeningEcografico").text-dark Screening ecográfico de aneuploidias (11-13,6 semanas)
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstetricoDopler" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico con dopler"
                            ) 
                            label(for="imagenEMMGinObsObstetricoDopler").text-dark Obstétrico con dopler
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMGinObsObstetrico3d" 
                                name="imagen.EcografiaMGinObs" 
                                value="Obstétrico 3D y 4D (26-32 sem)"
                            ) 
                            label(for="imagenEMMGinObsObstetrico3d").text-dark Obstétrico 3D y 4D (26-32 sem)
                .col-sm
            .row
                .col-lg
                    h5 PEQUEÑAS PARTES
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesTiroides" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Tiroides"
                            ) 
                            label(for="imagenEMMPequenasPartesTiroides").text-dark Tiroides
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesParatiroides" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Paratiroides"
                            ) 
                            label(for="imagenEMMPequenasPartesParatiroides").text-dark Paratiroides
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesTesticulos" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Testículos"
                            ) 
                            label(for="imagenEMMPequenasPartesTesticulos").text-dark Testículos
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesGlandulasSubmaxilares" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Glándulas submaxilares"
                            ) 
                            label(for="imagenEMMPequenasPartesGlandulasSubmaxilares").text-dark Glándulas submaxilares
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesInguinal" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Inguinal"
                            ) 
                            label(for="imagenEMMPequenasPartesInguinal").text-dark Inguinal
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesGlandulasSalivales" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Glándulas salivales"
                            ) 
                            label(for="imagenEMMPequenasPartesGlandulasSalivales").text-dark Glándulas salivales
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesCuello" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Cuello"
                            ) 
                            label(for="imagenEMMPequenasPartesCuello").text-dark Cuello
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMPequenasPartesGlandulasParotidas" 
                                name="imagen.EcografiaMPequenasPartes" 
                                value="Glándulas parótidas"
                            ) 
                            label(for="imagenEMMPequenasPartesGlandulasParotidas").text-dark Glándulas parótidas
            .row
                .col-lg
                    .form-group
                        label(for="imagenEMPequenasPartesOtra") Otra región:
                        textarea(id="imagenEMPequenasPartesOtra" name="imagen.EcografiaMPequenasPartes").form-control
            .row
                .col-lg
                    h5 MÚSCULO ESQUELÉTICO
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMMusculoEsqueleticoSegmento" 
                                name="imagen.EcografiaMMusculoEsqueletico" 
                                value="Segmento(s)"
                            ) 
                            label(for="imagenEMMMusculoEsqueleticoSegmento").text-dark Segmento(s)
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMMusculoEsqueleticoHombro" 
                                name="imagen.EcografiaMMusculoEsqueletico" 
                                value="Hombro"
                            ) 
                            label(for="imagenEMMMusculoEsqueleticoHombro").text-dark Hombro
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMMusculoEsqueleticoTendonAquiles" 
                                name="imagen.EcografiaMMusculoEsqueletico" 
                                value="Tendón de Aquiles"
                            ) 
                            label(for="imagenEMMMusculoEsqueleticoTendonAquiles").text-dark Tendón de Aquiles
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMMusculoEsqueleticoCodo" 
                                name="imagen.EcografiaMMusculoEsqueletico" 
                                value="Codo"
                            ) 
                            label(for="imagenEMMMusculoEsqueleticoCodo").text-dark Codo
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMMusculoEsqueleticoRodilla" 
                                name="imagen.EcografiaMMusculoEsqueletico" 
                                value="Rodilla"
                            ) 
                            label(for="imagenEMMMusculoEsqueleticoRodilla").text-dark Rodilla
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMMusculoEsqueleticoMuneca" 
                                name="imagen.EcografiaMMusculoEsqueletico" 
                                value="Muñeca"
                            ) 
                            label(for="imagenEMMMusculoEsqueleticoMuneca").text-dark Muñeca
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMMMusculoEsqueleticoTobillo" 
                                name="imagen.EcografiaMMusculoEsqueletico" 
                                value="Tobillo"
                            ) 
                            label(for="imagenEMMMusculoEsqueleticoTobillo").text-dark Tobillo
                .col-sm
            .row
                .col-lg
                    .form-group
                        label(for="imagenEMMusculoEsqueleticoRegion")
                            b PARTES BLANDAS
                            | &nbsp;(Región):
                        textarea(id="imagenEMMusculoEsqueleticoRegion" name="imagen.EcografiaMMusculoEsqueletico").form-control
            .row
                .col-lg
                    h5 ECOGRAFIA PEDIATRICA
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMPediatricaAbdomen" 
                                name="imagen.EcografiaPediatrica" 
                                value="Abdomen"
                            ) 
                            label(for="imagenEMPediatricaAbdomen").text-dark Abdomen
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMPediatricaCaderasRN" 
                                name="imagen.EcografiaPediatrica" 
                                value="Caderas recien nacido (hasta 2 meses)"
                            ) 
                            label(for="imagenEMPediatricaCaderasRN").text-dark Caderas recien nacido (hasta 2 meses)
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMPediatricaPelvico" 
                                name="imagen.EcografiaPediatrica" 
                                value="Pélvico"
                            ) 
                            label(for="imagenEMPediatricaPelvico").text-dark Pélvico
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMPediatricaCraneoTransfontanelar" 
                                name="imagen.EcografiaPediatrica" 
                                value="Cráneo transfontanelar"
                            ) 
                            label(for="imagenEMPediatricaCraneoTransfontanelar").text-dark Cráneo transfontanelar
            .row
                .col-lg
                    .form-group
                        label(for="imagenEMPediatricoOtros") Otros:
                        textarea(name="imagen.EcografiaPediatrica" id="imageEMPediatricoOtros").form-control
            .row
                .col-lg
                    h5 ECOGRAFÍA DOPPLER
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerCarotidas" 
                                name="imagen.EcografiaDoppler" 
                                value="Carótidas"
                            ) 
                            label(for="imagenEMDopplerCarotidas").text-dark Carótidas
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerTiroides" 
                                name="imagen.EcografiaDoppler" 
                                value="Doppler de tiroides"
                            ) 
                            label(for="imagenEMDopplerTiroides").text-dark Doppler de tiroides
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerVertebrales" 
                                name="imagen.EcografiaDoppler" 
                                value="Vertebrales"
                            ) 
                            label(for="imagenEMDopplerVertebrales").text-dark Vertebrales
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerVenaCava" 
                                name="imagen.EcografiaDoppler" 
                                value="Vena cava inferior y venas ilíacas"
                            ) 
                            label(for="imagenEMDopplerVenaCava").text-dark Vena cava inferior y venas ilíacas
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerArteriasSubclavias" 
                                name="imagen.EcografiaDoppler" 
                                value="Arterias subclavias"
                            ) 
                            label(for="imagenEMDopplerArteriasSubclavias").text-dark Arterias subclavias
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerVenosoMiembroSuperior"  
                                data-toggle="collapse"
                                data-target="#collapse-venosoMiembroSuperior"
                            ) 
                            label(for="imagenEMDopplerVenosoMiembroSuperior").text-dark Doppler venoso miembro superior
                    .collapse.ml-4(id="collapse-venosoMiembroSuperior")
                        label(for="imagenEMDopplerVenosoMiembroSuperiorDerecho").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDopplerVenosoMiembroSuperiorDerecho"
                                name="imagen.EcografiaDoppler"
                                value="Doppler venoso miembro superior derecho"
                            )
                            | Derecho &nbsp;
                        label(for="imagenEMDopplerVenosoMiembroSuperiorIzquierdo").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDopplerVenosoMiembroSuperiorIzquierdo"
                                name="imagen.EcografiaDoppler"
                                value="Doppler venoso miembro superior izquierdo"
                            ).checkbox-inline
                            | Izquierdo &nbsp;
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerVenasYugulares" 
                                name="imagen.EcografiaDoppler" 
                                value="Venas yugulares"
                            ) 
                            label(for="imagenEMDopplerVenasYugulares").text-dark Venas yugulares
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerVenosoMiembroInferior"  
                                data-toggle="collapse"
                                data-target="#collapse-venosoMiembroInferior"
                            ) 
                            label(for="imagenEMDopplerVenosoMiembroInferior").text-dark Doppler venoso miembro inferior
                    .collapse.ml-4(id="collapse-venosoMiembroInferior")
                        label(for="imagenEMDopplerVenosoMiembroInferiorDerecho").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDopplerVenosoMiembroInferiorDerecho"
                                name="imagen.EcografiaDoppler"
                                value="Doppler venoso miembro inferior derecho"
                            )
                            | Derecho &nbsp;
                        label(for="imagenEMDopplerVenosoMiembroInferiorIzquierdo").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDopplerVenosoMiembroInferiorIzquierdo"
                                name="imagen.EcografiaDoppler"
                                value="Doppler venoso miembro inferior izquierdo"
                            ).checkbox-inline
                            | Izquierdo &nbsp;
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDDopplerArteriasMiembroSuperior"  
                                data-toggle="collapse"
                                data-target="#collapse-venosoMiembroSuperior"
                            ) 
                            label(for="imagenEMDDopplerArteriasMiembroSuperior").text-dark Arterias de miembro superior
                    .collapse.ml-4(id="collapse-venosoMiembroSuperior")
                        label(for="imagenEMDDopplerArteriasMiembroSuperiorDerecho").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDDopplerArteriasMiembroSuperiorDerecho"
                                name="imagen.EcografiaDoppler"
                                value="Arterias de miembro superior derecho"
                            )
                            | Derecho &nbsp;
                        label(for="imagenEMDDopplerArteriasMiembroSuperiorIzquierdo").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDDopplerArteriasMiembroSuperiorIzquierdo"
                                name="imagen.EcografiaDoppler"
                                value="Arterias de miembro superior izquierdo"
                            ).checkbox-inline
                            | Izquierdo &nbsp;
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerAortaIliacas" 
                                name="imagen.EcografiaDoppler" 
                                value="Aorta e ilíacas"
                            ) 
                            label(for="imagenEMDopplerAortaIliacas").text-dark Aorta e ilíacas
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDDopplerArteriasMiembroInferior"  
                                data-toggle="collapse"
                                data-target="#collapse-venosoMiembroInferior"
                            ) 
                            label(for="imagenEMDDopplerArteriasMiembroInferior").text-dark Arterias de miembro inferior
                    .collapse.ml-4(id="collapse-venosoMiembroInferior")
                        label(for="imagenEMDDopplerArteriasMiembroInferiorDerecho").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDDopplerArteriasMiembroInferiorDerecho"
                                name="imagen.EcografiaDoppler"
                                value="Arterias de miembro inferior derecho"
                            )
                            | Derecho &nbsp;
                        label(for="imagenEMDDopplerArteriasMiembroInferiorIzquierdo").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="imagenEMDDopplerArteriasMiembroInferiorIzquierdo"
                                name="imagen.EcografiaDoppler"
                                value="Arterias de miembro inferior izquierdo"
                            ).checkbox-inline
                            | Izquierdo &nbsp;
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerEcografiaTransvaginal" 
                                name="imagen.EcografiaDoppler" 
                                value="Ecografía transvaginal con Doppler color"
                            ) 
                            label(for="imagenEMDopplerEcografiaTransvaginal").text-dark Ecografía transvaginal con Doppler color
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerRinonesArteriasRenales" 
                                name="imagen.EcografiaDoppler" 
                                value="Riñones y arterias renales"
                            ) 
                            label(for="imagenEMDopplerRinonesArteriasRenales").text-dark Riñones y arterias renales
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerTesticular" 
                                name="imagen.EcografiaDoppler" 
                                value="Ecografia Doppler testicular"
                            ) 
                            label(for="imagenEMDopplerTesticular").text-dark Ecografia Doppler testicular
            .row
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerRinonTransplantado" 
                                name="imagen.EcografiaDoppler" 
                                value="Riñón transplantado"
                            ) 
                            label(for="imagenEMDopplerRinonTransplantado").text-dark Riñón transplantado
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="imagenEMDopplerEcoDoppler" 
                                name="imagen.EcografiaDoppler" 
                                value="Ecografía Doppler"
                            ) 
                            label(for="imagenEMDopplerEcoDoppler").text-dark Ecografía Doppler
            .row
                .col-lg
                    h5 PUNCIÓN BIOPSIA CON AGUJA FINA CON ECOGRAFÍA (PAAF)
            .row
                .col-lg
                    .form-group
                        script.
                            function changePaaf(e) {
                                if( 
                                    $('#imagenEMPaafRegion').val()!="" ||
                                    $('#imagenEMPaafHallazgos').val()!="" ||
                                    $('#imagenEMPaafDiagnostico').val()!=""
                                ){
                                    $('#imagenEMPAAF').val(
                                        "Region: " + $('#imagenEMPaafRegion').val() +
                                        " - Hallazgos Clínicos: " + $('#imagenEMPaafHallazgos').val() +
                                        " - Diagnóstico presuntivo: " + $('#imagenEMPaafDiagnostico').val()
                                    )
                                } else {
                                    $('#imagenEMPAAF').val("");
                                }
                            }
                            window.addEventListener("load", () => {
                                $('#imagenEMPaafRegion').bind("change", changePaaf)
                                $('#imagenEMPaafHallazgos').bind("input cut paste", changePaaf)
                                $('#imagenEMPaafDiagnostico').bind("input cut paste", changePaaf)
                            })
                        input(
                            type="text"
                            name="imagen.EcografiaPAAF"
                            id="imagenEMPAAF"
                        )
                        label(for="imagenEMPaafRegion") Región:
                        input(
                            type="text"
                            id="imagenEMPaafRegion"
                        ).form-control
                    .form-group
                        label(for="imagenEMPaafHallazgos") Hallazgos Clínicos: 
                        textarea(
                            id="imagenEMPaafHallazgos"
                        ).form-control
                    .form-group
                        label(for="imagenEMPaafDiagnostico") Diagnóstico presuntivo:
                        textarea(
                            id="imagenEMPaafDiagnostico"
                        ).form-control