div(class="card")
    div(class="card-header bg-secondary" id="imagenRayosXTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#imagenRayosX",
                aria-expanded="true",
                aria-controls="imagenRayosX"
            ) 
                span(data-toggle="collapse" data-target="#imagenRayosX").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Rayos X simples/contrastados - Mamografia (Digitalizados)
    div(id="imagenRayosX" class="collapse hide" aria-labelledby="imagenRayosXTitulo" data-parent="#imagen")
        div(class="card-body")
            .row
                //- TODO: @IsabelNaranjo