div(class="card")
    div(class="card-header bg-secondary" id="labAutoinmunidadTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labAutoinmunidad",
                aria-expanded="true",
                aria-controls="labAutoinmunidad"
            ) 
                span(data-toggle="collapse" data-target="#labAutoinmunidad").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Autoinmunidad
    div(id="labAutoinmunidad" class="collapse hide" aria-labelledby="labAutoinmunidadTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAcAntinucleares" name="lab.autoinmunidad" value="Ac. Antinucleares") 
                            label(class="text-dark" for="labAutoinmunidadAcAntinucleares") Ac. Antinucleares
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAcAntiDNA" name="lab.autoinmunidd" alue="Ac. AntiDNA") 
                            label(class="text-dark" for="labAutoinmunidadAcAntiDNA") Ac. Anti DNA            
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadCélulasLE" name="lab.autoinmunidad" value="Células LE")
                            label(class="text-dark" for="labAutoinmunidadCélulasLE") Células LE
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAnti-RO" name="lab.autoinmunidad" value="Anti-RO")
                            label(class="text-dark" for="labAutoinmunidadAnti-RO") Anti-RO
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAnticitrulina" name="lab.autoinmunidad" value="Anticitrulina (anti CPP)")
                            label(class="text-dark" for="labAutoinmunidadAnticitrulina") Anticitrulina (anti CPP)
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAnti-LA" name="lab.autoinmunidad" value="Anti-LA")
                            label(class="text-dark" for="labAutoinmunidadAnti-LA") Anti-LA
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAnticromosomales" name="lab.autoinmunidad" value="Ac. Anticromosomales")
                            label(class="text-dark" for="labAutoinmunidadAnticromosomales") Ac. Anticromosomales
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAnti-Sm" name="lab.autoinmunidad" value="Anti-Sm")
                            label(class="text-dark" for="labAutoinmunidadAnti-Sm") Anti-Sm
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAntitiroglobulinas" name="lab.autoinmunidad" value="Ac. Antitiroglobulinas")
                            label(class="text-dark" for="labAutoinmunidadAntitiroglobulinas") Ac. Antitiroglobulinas
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadHLA" name="lab.autoinmunidad" value="HLA-B27")
                            label(class="text-dark" for="labAutoinmunidadHLA") HLA-B27
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadANA" name="lab.autoinmunidad" value="ANA-BLOT")
                            label(class="text-dark" for="labAutoinmunidadANA") ANA-BLOT
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadANCAS" name="lab.autoinmunidad" value="ANCAS")
                            label(class="text-dark" for="labAutoinmunidadANCAS") ANCAS
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labEMAntifosfolípidos"  
                                data-toggle="collapse"
                                data-target="#collapse-Antifosfolípidos"
                                name="lab.autoinmunidad"
                                value="Antifosfolípidos"
                            ) 
                            label(for="labEMAntifosfolípidos").text-dark Antifosfolípidos
                    .collapse.ml-4(id="collapse-Antifosfolípidos")
                        label(for="labEMAntifosfolípidosIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labEMAntifosfolípidosIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labEMAntifosfolípidos'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labEMAntifosfolípidosIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labEMAntifosfolípidosIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labEMAntifosfolípidos'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;                           
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labEMAnticardiolipinas" 
                                name="lab.autoinmunidad" 
                                data-toggle="collapse"
                                data-target="#collapse-Anticardiolipinas"
                                value="Anticardiolipinas"
                            ) 
                            label(for="labEMAnticardiolipinas").text-dark Anticardiolipinas
                    .collapse.ml-4(id="collapse-Anticardiolipinas")
                        label(for="labEMAnticardiolipinasIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labEMAnticardiolipinasIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labEMAnticardiolipinas'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labEMAnticardiolipinasIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labEMAnticardiolipinasIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labEMAnticardiolipinas'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                           ).checkbox-inline
                            | IgM &nbsp;                           
            .row     
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labEMANTIB2GP1"  
                                data-toggle="collapse"
                                data-target="#collapse-ANTIB2GP1"
                                name="lab.autoinmunidad"
                                value="ANTIB2GP1"
                            ) 
                            label(for="labEMANTIB2GP1").text-dark ANTIB2GP1
                    .collapse.ml-4(id="collapse-ANTIB2GP1")
                        label(for="labEMANTIB2GP1IgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labEMANTIB2GP1IgG"
                                value=" +IgG"
                                onchange="var destField = $('#labEMANTIB2GP1'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labEMANTIB2GP1IgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labEMANTIB2GP1IgM"
                                value=" +IgM"
                                onchange="var destField = $('#labEMANTIB2GP1'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;                           
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labAutoinmunidadAntimitocondriales" name="lab.autoinmunidad" value="Anti mitocondriales")
                            label(class="text-dark" for="labAutoinmunidadAntimitocondriales") Anti mitocondriales

