div(class="card")
    div(class="card-header bg-secondary" id="labBacteriologiaTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labBacteriologia",
                aria-expanded="true",
                aria-controls="labBacteriologia"
            ) 
                span(data-toggle="collapse" data-target="#labBacteriologia").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Bacteriologia
    div(id="labBacteriologia" class="collapse hide" aria-labelledby="labBacteriologiaTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                     .checkbox
                        label                            
                            input(
                                type="checkbox" 
                                checked=false 
                                id="labBactereologiaMuestraDe"
                                data-toggle="collapse"
                                data-target="#labBactereologiaMuestraDeTexto"
                                name="lab.bactereologia"
                                value="Muestra de:"
                             ) 
                            label(class="text-dark" for="labBactereologiaMuestraDe") Muestra de
                            .d-sm-inline-flex.ml-3
                                input(
                                    class="form-control w-200 collapse" 
                                    id="labBactereologiaMuestraDeTexto" 
                                    type="text"
                                    onchange="$('#labBactereologiaMuestraDe').val('Muestra de - ' + this.value)"                                     
                                )                            
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labBactereologiaCultivoYAntibiograma" name="lab.bactereologia" value="Cultivo y Antibiograma") 
                            label(class="text-dark" for="labBactereologiaCultivoYAntibiograma") Cultivo y Antibiograma
            .row                                 
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labBactereologiaGram" name="lab.bactereologia" value="Gram") 
                            label(class="text-dark" for="labBactereologiaGram") Gram
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labBactereologiaFresco" name="lab.bactereologia" value="Fresco") 
                            label(class="text-dark" for="labBactereologiaFresco") Fresco   
            .row
                 .col-sm
                    .checkbox
                         label                            
                             input(
                                type="checkbox"
                                checked=false
                                id="labBactereologiaBAAR"
                                data-toggle="collapse"
                                data-target="#labBactereologiaBAARTexto"
                                name="lab.bactereologia"
                                value="BAAR"
                             ) 
                             label(for="labBactereologiaBAAR").text-dark BAAR
                             label(for="labBactereologiaBAAR").text-dark Días N°
                         .d-sm-inline-flex.ml-3                 
                             input(                 
                                class="form-control w-200 collapse"
                                id="labBactereologiaBAARTexto"
                                tyoe="text"
                                onchange="$('#labBactereologiaBAAR').val('BAAR - ' + this.value)"
                             )
            .row                                 
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labBactereologiaInvestigaciónDeHongos" name="lab.bactereologia" value="Investigación de Hongos (KOH)") 
                            label(class="text-dark" for="labBactereologiaInvestigaciónDeHongos") Investigación de Hongos (KOH)               
                 .col-sm
                     .checkbox
                        label                            
                            input(
                                type="checkbox" 
                                checked=false 
                                id="labBactereologiaControlTratamiento"
                                data-toggle="collapse"
                                data-target="#labBactereologiaControlTratamientoTexto"
                                name="lab.bactereologia"
                                value="Control tratamiento"
                             ) 
                            label(class="text-dark" for="labBactereologiaControlTratamiento") Control tratamiento
                            .d-sm-inline-flex.ml-3
                                input(
                                    class="form-control w-300 collapse" 
                                    id="labBactereologiaControlTratamientoTexto" 
                                    type="text" 
                                    onchange="$('#labBactereologiaControlTratamiento').val('Control Tratamiento - ' + this.value)" 
                                )              
            .row
                .col-md
                    .form-group
                        input(type="hidden" name="lab.bacteriologia" id="labBactereologiaOtros")
                        label(class="text-dark" for="labBactereologiaOtros") Otros:
                        input(
                            type="text" 
                            id="bactereologiaOtros"
                            onchange="$('#labBactereologiaOtros').val('Otros: '+this.value)"
                        ).form-control