div(class="card")
    div(class="card-header" id="labCoagulacionTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link",
                type="button",
                data-toggle="collapse" 
                data-target="#labCoagulacion",
                aria-expanded="true",
                aria-controls="labCoagulacion"
            ) Coagulación
    div(id="labCoagulacion" class="collapse hide" aria-labelledby="labCoagulacionTitulo" data-parent="#laboratorio")
        div(class="card-body")
            div(class="row")
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionTP") 
                        label(class="form-check-label" for="labCoagulacionTP") TP
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionTTP") 
                        label(class="form-check-label" for="labCoagulacionTTP") TTP
            div(class="row")
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionTiempoTrombina") 
                        label(class="form-check-label" for="labCoagulacionTiempoTrombina") Tiempo trombina
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionINR") 
                        label(class="form-check-label" for="labCoagulacionINR") INR
            div(class="row")
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionTiempoCoagulacion") 
                        label(class="form-check-label" for="labCoagulacionTiempoCoagulacion") Tiempo coagulación
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionFibrinogeno")
                        label(class="form-check-label" for="labCoagulacionFibrinogeno") Fibrinógeno
            div(class="row")
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionTiempoHemorragia") 
                        label(class="form-check-label" for="labCoagulacionTiempoHemorragia") Tiempo Hemorragia
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionAntitrombina3")
                        label(class="form-check-label" for="labCoagulacionAntitrombina3") Antitrombina III
            div(class="row")
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionCoombsDirecto") 
                        label(class="form-check-label" for="labCoagulacionTiempoCoombsDirecto") Coombs directo
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionCoombsIndirecto")
                        label(class="form-check-label" for="labCoagulacionCoombsIndirecto") Indirecto
            div(class="row")
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionDimeroD") 
                        label(class="form-check-label" for="labCoagulacionTiempoDimeroD") Dímero D
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionRetraccionCoagulo")
                        label(class="form-check-label" for="labCoagulacionRetraccionCoagulo") Retracción de coágulo
            div(class="row")
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionOtros") 
                        label(class="form-check-label" for="labCoagulacionOtros") Otros
                div(class="col-sm")
                    div(class="form-check")
                        input(class="form-check-input" type="checkbox" checked=false id="labCoagulacionAnticoagulanteLupico")
                        label(class="form-check-label" for="labCoagulacionAnticoagulanteLupico") Anticouagulante lúpico