div(class="card")
    div(class="card-header bg-secondary" id="labDrogasTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labDrogas",
                aria-expanded="true",
                aria-controls="labDrogas"
            ) 
                span(data-toggle="collapse" data-target="#labDrogas").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Drogas
    div(id="labDrogas" class="collapse hide" aria-labelledby="labDrogasTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labDrogasﾃ…idoValproico" name="lab.drogas" value="ﾃ…ido Valproico") 
                            label(class="text-dark" for="labDrogasﾃ…idoValproico") ﾃ…ido Valproico
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labDrogasCarbamacepina" name="lab.drogas" value="Carbamacepina") 
                            label(class="text-dark" for="labDrogasCarbamacepina") Carbamacepina
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labDrogasEpamin" name="lab.drogas" value="Epamin") 
                            label(class="text-dark" for="labDrogasEpamin") Epamin
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labDrogasDioxina" name="lab.drogas" value="Dioxina") 
                            label(class="text-dark" for="labDrogasDioxina") Dioxina      
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labDrogasFenobarbital" name="lab.drogas" value="Fenobarbital") 
                            label(class="text-dark" for="labDrogasFenobarbital") Fenobarbital                                                  