div(class="card")
    div(class="card-header bg-secondary" id="labElectrolitosTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labElectrolitos",
                aria-expanded="true",
                aria-controls="labElectrolitos"
            ) 
                span(data-toggle="collapse" data-target="#labElectrolitos").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Electrolitos
    div(id="labElectrolitos" class="collapse hide" aria-labelledby="labElectrolitosTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosSodio" name="lab.electrolitos" value="Sodio") 
                            label(class="text-dark" for="labElectrolitosSodio") Sodio
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosPotasio" name="lab.electrolitos" value="Potasio") 
                            label(class="text-dark" for="labElectrolitosPotasio") Potasio
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosCloro" name="lab.electrolitos" value="Cloro") 
                            label(class="text-dark" for="labElectrolitosCloro") Cloro
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosCalcioTotal" name="lab.electrolitos" value="Calcio Total") 
                            label(class="text-dark" for="labElectrolitosCalcioTotal") Calcio total
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElecctrolitosFósforo" name="lab.electrolitos" value="Fósforo") 
                            label(class="text-dark" for="labElectrolitosFósforo") Fósforo
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosMagnesio" name="lab.electrolitos" value="Magnesio") 
                            label(class="text-dark" for="labElectrolitosMagnesio") Magnesio
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosCalcioIónico" name="lab.electrolitos" value="Calcio Iónico") 
                            label(class="text-dark" for="labElectrolitosCalcioIónico") Calcio Iónico
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosCobre" name="lab.electrolitos" value="Cobre") 
                            label(class="text-dark" for="labElectrolitosCobre") Cobre
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosLitio" name="lab.electrolitos" value="Litio") 
                            label(class="text-dark" for="labElectrolitosLitio") Litio
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labElectrolitosAmonio" name="lab.electrolitos" value="Amonio") 
                            label(class="text-dark" for="labElectrolitosAmonio") Amonio

