div(class="card")
    div(class="card-header bg-secondary" id="labEstudiosEspecialesTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labEstudiosEspeciales",
                aria-expanded="true",
                aria-controls="labEstudiosEspeciales"
            ) 
                span(data-toggle="collapse" data-target="#labEstudiosEspeciales").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Estudios Especiales
    div(id="labEstudiosEspeciales" class="collapse hide" aria-labelledby="labEstudiosEspecialesTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labEstudiosEspecialesEspermatograma" name="lab.estudiosespeciales" value="Espermatograma") 
                            label(class="text-dark" for="labEstudiosEspecialesEspermatograma") Espermatograma
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labEstudiosEspecialesEstudioC치lculo" name="lab.estudiosespeciales" value="Estudio C치lculo") 
                            label(class="text-dark" for="labEstudiosEspecialesEstudioC치lculo") Estudio C치lculo
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labEstudiosEspecialesSeguimiento" name="lab.estudiosespeciales" value="Seguimiento") 
                            label(class="text-dark" for="labEstudiosEspecialesSeguimiento") Seguimiento  
