div(class="card")
    div(class="card-header bg-secondary" id="labHecesTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labHeces",
                aria-expanded="true",
                aria-controls="labHeces"
            ) 
                span(data-toggle="collapse" data-target="#labHeces").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Heces
    div(id="labHeces" class="collapse hide" aria-labelledby="labHecesTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesCoproparasitarioRutina" name="lab.heces" value="Coproparasitario rutina") 
                            label(class="text-dark" for="labHecesCoproparasitarioRutina") Coproparasitario rutina
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesCoproparasitarioSeriado" name="lab.heces" value="Coproparasitario seriado") 
                            label(class="text-dark" for="labHecesCoproparasitarioSeriado") Coproparasitario seriado
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesInvPorlimorfonucleares" name="lab.heces" value="Inv. Porlimorfonucleares") 
                            label(class="text-dark" for="labHecesInvPorlimorfonucleares") Inv. porlimorfonuceleares
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesSangreOculta" name="lab.heces" value="Sangre oculta") 
                            label(class="text-dark" for="labHecesSangreOculta") Sangre oculta      
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesRotavirus" name="lab.heces" value="Rotavirus") 
                            label(class="text-dark" for="labHecesRotavirus") Rotavirus
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesConcentració" name="lab.heces" value="Concentración") 
                            label(class="text-dark" for="labHecesConcentración")  Concentración                                                 
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesSudan" name="lab.heces" value="Sudan III") 
                            label(class="text-dark" for="labHecesSudan") Sudan III
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesGiardiaAntígeno" name="lab.heces" value="Giardia antígeno") 
                            label(class="text-dark" for="labHecesGiardiaAntígeno") Giardia antígeno
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesPH" name="lab.heces" value="PH") 
                            label(class="text-dark" for="labHecesPH") PH
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesAdenovirus" name="lab.heces" value="Adenovirus") 
                            label(class="text-dark" for="labHecesAdenovirus") Adenovirus                                                         
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesCoprológico" name="lab.heces" value="Coprológico") 
                            label(class="text-dark" for="labHecesCoprológico") Coprológico
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labHecesHPylori" name="lab.heces" value="H. Pylori") 
                            label(class="text-dark" for="labHecesHPylori") H. Pylori                            
