div(class="card")
    div(class="card-header bg-secondary" id="labHematologiaTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labHematologia",
                aria-expanded="true",
                aria-controls="labHematologia"
            )  
                span(data-toggle="collapse" data-target="#labHematologia").arrow-toggle 
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Hematología
    div(id="labHematologia" class="collapse show" aria-labelledby="labHematologiaTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaBiometriaHematica" name="lab.hematologia" value="Biometría hemática") 
                            label(class="text-dark" for="labHematologiaBiometriaHematica") Biometría hemática
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaHematocrito" name="lab.hematologia" value="Hematocrito")
                            label(class="text-dark" for="labHematologiaHematocrito") Hematocrito
            .row
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaReticulocitos" name="lab.hematologia" value="Reticulocitos") 
                            label(class="text-dark" for="labHematologiaReticulocitos") Reticulocitos
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaPlaquetas" name="lab.hematologia" value="Plaquetas") 
                            label(class="text-dark" for="labHematologiaPlaquetas") Plaquetas
            .row
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaSedimentacion" name="lab.hematologia" value="Sedimentación") 
                            label(class="text-dark" for="labHematologiaSedimentacion") Sedimentación
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaFormulaLeucocitica" name="lab.hematologia" value="Fórmula leucocítica")
                            label(class="text-dark" for="labHematologiaFormulaLeucocitica") Fórmula leucocitica
            .row
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaHemoparasitos"  name="lab.hematologia" value="Hemoparásitos") 
                            label(class="text-dark" for="labHematologiaHemoparasitos") Hemoparásitos
                .col-sm
                    .checkbox
                        label
                            input( type="checkbox" checked=false id="labHematologiaGrupoSanguineo" name="lab.hematologia" value="Grupo sanguíneo")
                            label(class="text-dark" for="labHematologiaGrupoSanguineo") Grupo sanguíneo