div(class="card")
    div(class="card-header bg-secondary" id="labInmunodiagnosticoTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labInmunodiagnostico",
                aria-expanded="true",
                aria-controls="labInmunodiagnostico"
            ) 
                span(data-toggle="collapse" data-target="#labInmunodiagnostico").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Inmunodiagnóstico
    div(id="labInmunodiagnostico" class="collapse hide" aria-labelledby="labInmunodiagnosticoTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDTSH"  
                                data-toggle="collapse"
                                data-target="#collapse-TSH"
                                name="lab.inmunodiagnostico"
                                value="TSH"
                            ) 
                            label(for="labIDTSH").text-dark TSH
                    .collapse.ml-4(id="collapse-TSH")
                        label(for="labIDTSHfT3").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDTSHfT3"
                                value=" +fT3"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | fT3 &nbsp;
                        label(for="labIDTSHfT4").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDTSHfT4"
                                value=" +fT4"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | fT4 &nbsp;                           
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDFSH"  
                                    data-toggle="collapse"
                                data-target="#collapse-FSH"
                                name="lab.inmunodiagnostico"
                                value="FSH"                                
                            ) 
                            label(for="labIDFSH").text-dark FSH
                    .collapse.ml-4(id="collapse-FSH")
                        label(for="labIDFSHT3Total").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDFSHT3Total"
                                value=" +T3 Total"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | T3 Total &nbsp;
                        label(for="labIDFSHT4Total").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDFSHT4Total"
                                value=" +T4 Total"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | T4 Total &nbsp;                           
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoEstrógenos" name="lab.inmunodiagnostico" value="Estrógenos")
                            label(class="text-dark" for="labInmunodiagnosticoEstrógenos") Estrógenos
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoLH" name="lab.inmunodiagnostico" value="LH")
                            label(class="text-dark" for="labInmunodiagnosticoLH") LH
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoBHCG" name="lab.inmunodiagnostico" value="BHCG")
                            label(class="text-dark" for="labInmunodiagnosticoBHCG") BHCG
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoProgesterona" name="lab.inmunodiagnostico" value="Progesterona")
                            label(class="text-dark" for="labInmunodiagnosticoProgesterona") Progesterona                           
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoTestosterona" name="lab.inmunodiagnostico" value="Testosterona")
                            label(class="text-dark" for="labInmunodiagnosticoTestosterona") Testosterona                           
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDProlactina"  
                                data-toggle="collapse"
                                data-target="#collapse-Prolactina"
                                name="lab.inmunodiagnostico"
                                value="Prolactina"                                
                            ) 
                            label(for="labIDProlactina").text-dark Prolactina
                    .collapse.ml-4(id="collapse-Prolactina")
                        label(for="labIDProlactinaAM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDProlactinaAM"
                                value=" +AM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"                            )
                            | AM &nbsp;
                        label(for="labIDProlactinaPM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDProlactinaPM"
                                value=" +PM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | PM &nbsp;             
                        label(for="labIDProlactina10").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDProlactina10"
                                value=" +10"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | 10 &nbsp;           
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDCortisol"  
                                data-toggle="collapse"
                                data-target="#collapse-Cortisol"
                                name="lab.inmunodiagnostico"
                                value="Cortisol"                                
                            ) 
                            label(for="labIDCortisol").text-dark Cortisol
                    .collapse.ml-4(id="collapse-Cortisol")
                        label(for="labIDCortisolAM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDCortisolAM"
                                value=" +AM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | AM &nbsp;
                        label(for="labIDCortisolPM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDCortisolPM"
                                value=" +PM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | PM &nbsp;
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoCortisolOrina" name="lab.inmunodiagnostico" value="Cortisol Orina 24H")
                            label(class="text-dark" for="labInmunodiagnosticoCortisolOrina") Cortisol Orina 24 H
            .row
                .col-sm
                    .checkbox
                        label                            
                            input(
                                type="checkbox" 
                                checked=false 
                                id="labInmunodiagnosticoCurvaInsulina"
                                data-toggle="collapse"
                                data-target="#labInmunodiagnosticoCurvaInsulinaHoras"
                                name="lab.inmunodiagnostico"
                                value="Curva de Insulina"
                            ) 
                            label(class="text-dark" for="labInmunodiagnosticoCurvaInsulina") Curva de Insulina
                            .d-sm-inline-flex.ml-3
                                input(
                                    class="form-control w-200 collapse" 
                                    id="labInmunodiagnosticoCurvaInsulinaHoras" 
                                    type="number" 
                                    min=0 max=8 
                                    placeholder="Horas" 
                                    onchange="$('#labInmunodiagnosticoCurvaInsulina').val('Curva de Insulina - ' + this.value + 'h')"
                                )    
                .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoPéptidoC" name="lab.inmunodiagnostico" value="Péptido C")
                            label(class="text-dark" for="labInmunodiagnosticoPéptidoC") Péptido C               
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoIGF" name="lab.inmunodiagnostico" value="IGF - 1")
                            label(class="text-dark" for="labInmunodiagnosticoIGF") IGF-1
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoIgFBP3" name="lab.inmunodiagnostico" value="IgFBP3")
                            label(class="text-dark" for="labInmunodiagnosticoIgFBP3") IgFBP3
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoHormonaCrecimiento" name="lab.inmunodiagnostico" value="Hormona Crecimiento (HGH)")
                            label(class="text-dark" for="labInmunodiagnosticoHormonaCrecimiento") Hormona Crecimeinto (HGH)
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoParatohormona" name="lab.inmunodiagnostico" value="Paratohormona")
                            label(class="text-dark" for="labInmunodiagnosticoParatohormona") Paratohormona                  
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoOHProgesterona" name="lab.inmunodiagnostico" value="17-OH-Progesterona")
                            label(class="text-dark" for="labInmunodiagnosticoOHProgesterona") 17-OH-Progesterona
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoAndrostenediona" name="lab.inmunodiagnostico" value="Androstenediona")
                            label(class="text-dark" for="labInmunodiagnosticoAndrostenediona") Androstenediona
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoDHEAS" name="lab.inmunodiagnostico" value="DHEAS")
                            label(class="text-dark" for="labInmunodiagnosticoDHEAS") DHEAS
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoACTH" name="lab.inmunodiagnostico" value="ACTH")
                            label(class="text-dark" for="labInmunodiagnosticoACTH") ACTH                           
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoTestEstimulaciónHGH" name="lab.inmunodiagnostico" value="Test Estimulación HGH")
                            label(class="text-dark" for="labInmunodiagnosticoTestEstimulaciónHGH") Test Estimulación HGH
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoVitaminaD25Hidroxi" name="lab.inmunodiagnostico" value="Vitamina D 25 Hidroxi")
                            label(class="text-dark" for="labInmunodiagnosticoVitaminaD25Hidroxi") Vitamina D 25 Hidroxi
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoTestosteronaLibre" name="lab.inmunodiagnostico" value="Testosterona libre")
                            label(class="text-dark" for="labInmunodiagnosticoTestosteronaLibre") Testosterona libre
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDAntiToxoplasma"  
                                data-toggle="collapse"
                                data-target="#collapse-AntiToxoplasma"
                                name="lab.inmunodiagnostico"
                                value="Anti Toxoplasma"                                
                            ) 
                            label(for="labIDAntiToxoplasma").text-dark Anti Toxoplasma
                    .collapse.ml-4(id="collapse-AntiToxoplasma")
                        label(for="labIDAntiToxoplasmaIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiToxoplasmaIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDAntiToxoplasmaIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiToxoplasmaIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp; 
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDAntiRubeola"  
                                data-toggle="collapse"
                                data-target="#collapse-AntiRubeola"
                                name="lab.inmunodiagnostico"
                                value="Anti Rubeola"                                
                            ) 
                            label(for="labIDAntiRubeola").text-dark Anti Rubeola
                    .collapse.ml-4(id="collapse-AntiRubeola")
                        label(for="labIDAntiRubeolaIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiRubeolaIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDAntiRubeolaIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiRubeolaIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"                            ).checkbox-inline
                            | IgM &nbsp;                             
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDAntiCMV"  
                                data-toggle="collapse"
                                data-target="#collapse-AntiCMV"
                                name="lab.inmunodiagnostico"
                                value="Anti CMV"                                
                            ) 
                            label(for="labIDAntiCMV").text-dark Anti CMV
                    .collapse.ml-4(id="collapse-AntiCMV")
                        label(for="labIDAntiCMVIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiCMVIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDAntiCMVIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiCMVIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;       
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDAntiHerpesI"  
                                data-toggle="collapse"
                                data-target="#collapse-AntiHerpesI"
                                name="lab.inmunodiagnostico"
                                value="Anti Herpes I"                                
                            ) 
                            label(for="labIDAntiHerpesI").text-dark Anti Herpes I
                    .collapse.ml-4(id="collapse-AntiHerpesI")
                        label(for="labIDAntiHerpesIIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiHerpesIIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDAntiHerpesIIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiHerpesIIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;       
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDAntiHerpesII"  
                                data-toggle="collapse"
                                data-target="#collapse-AntiHerpesII"
                                name="lab.inmunodiagnostico"
                                value="Anti Herpes II"                                
                            ) 
                            label(for="labIDAntiHerpesII").text-dark Anti Herpes II
                    .collapse.ml-4(id="collapse-AntiHerpesII")
                        label(for="labIDAntiHerpesIIIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiHerpesIIIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDAntiHerpesIIIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDAntiHerpesIIIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;       
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDTORCH"  
                                data-toggle="collapse"
                                data-target="#collapse-TORCH"
                                name="lab.inmunodiagnostico"
                                value="TORCH"                                
                            ) 
                            label(for="labIDTORCH").text-dark TORCH
                    .collapse.ml-4(id="collapse-TORCH")
                        label(for="labIDTORCHIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDTORCHIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDTORCHIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDTORCHIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;  
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoC3" name="lab.inmunodiagnostico" value="C3")
                            label(class="text-dark" for="labInmunodiagnosticoC3") C3
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoC4" name="lab.inmunodiagnostico" value="C4")
                            label(class="text-dark" for="labInmunodiagnosticoC4") C4
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoIgG" name="lab.inmunodiagnostico" value="IgG")
                            label(class="text-dark" for="labInmunodiagnosticoIgG") IgG
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoIgM" name="lab.inmunodiagnostico" value="IgM")
                            label(class="text-dark" for="labInmunodiagnosticoIgM") IgM  
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoIgE" name="lab.inmunodiagnostico" value="IgE")
                            label(class="text-dark" for="labInmunodiagnosticoIgE") IgE
            .row    
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoIgA" name="lab.inmunodiagnostico" value="IgA")
                            label(class="text-dark" for="labInmunodiagnosticoIgA") IgA      
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoIgD" name="lab.inmunodiagnostico" value="IgD")
                            label(class="text-dark" for="labInmunodiagnosticoIgD") IgD 
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoToxoplasmaAvidez" name="lab.inmunodiagnostico" value="Toxoplasma avidez")
                            label(class="text-dark" for="labInmunodiagnosticoToxoplasmaAvidez") Toxoplasma avidez
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoInterleucina" name="lab.inmunodiagnostico" value="Interleucina-6")
                            label(class="text-dark" for="labInmunodiagnosticoInterleucina") Interleucina-6
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDChlamidia"  
                                data-toggle="collapse"
                                data-target="#collapse-Chlamidia"
                                name="lab.inmunodiagnostico"
                                value="Chlamidia"                                
                            ) 
                            label(for="labIDChlamidia").text-dark Chlamidia
                    .collapse.ml-4(id="collapse-Chlamidia")
                        label(for="labIDChlamidiaIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDChlamidiaIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDChlamidiaIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDChlamidiaIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;  
                        label(for="labIDChlamidiaIgA").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDChlamidiaIgA"
                                value=" +IgA"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgA &nbsp;
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDHepatitisA"  
                                data-toggle="collapse"
                                data-target="#collapse-HepatitisA"
                                name="lab.inmunodiagnostico"
                                value="Hepatitis A"                                
                            ) 
                            label(for="labIDHepatitisA").text-dark Hepatitis A
                    .collapse.ml-4(id="collapse-HepatitisA")
                        label(for="labIDHepatitisAIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDHepatitisAIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDHepatitsAIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDHepatitsAIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;  
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoHepatitisB" name="lab.inmunodiagnostico" value="Hepatitis B")
                            label(class="text-dark" for="labInmunodiagnosticoHepatitisB") Hepatits B
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDHBc"  
                                data-toggle="collapse"
                                data-target="#collapse-HBc"
                                name="lab.inmunodiagnostico"
                                value="HBc"                                
                            ) 
                            label(for="labIDHBc").text-dark HBc
                    .collapse.ml-4(id="collapse-HBc")
                        label(for="labIDHBcIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDHBcIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDHBcIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDHBcIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDTSH'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;  
            .row    
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoHBsAg" name="lab.inmunodiagnostico" value="HBsAg")
                            label(class="text-dark" for="labInmunodiagnosticoHBsAg") HBsAg      
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoAntiHBs" name="lab.inmunodiagnostico" value="Anti HBs")
                            label(class="text-dark" for="labInmunodiagnosticoAntiHBs") Anti HBs 
            .row    
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoHBeAg" name="lab.inmunodiagnostico" value="HBeAg")
                            label(class="text-dark" for="labInmunodiagnosticoHBeAg") HBeAg
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoAntiHbe" name="lab.inmunodiagnostico" value="Anti Hbe")
                            label(class="text-dark" for="labInmunodiagnosticoAntiHbe") Anti Hbe
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoHepatitisC" name="lab.inmunodiagnostico" value="Hepatitis C")
                            label(class="text-dark" for="labInmunodiagnosticoHepatitisC") Hepatits C
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labInmunodiagnosticoTuberculosisSuero" name="lab.inmunodiagnostico" value="Tuberuclosis en suero")
                            label(class="text-dark" for="labInmunodiagnosticoTuberculosisSuero") Tuberculosis en suero

