div(class="card")
    div(class="card-header bg-secondary" id="labInmunodiagnosticoTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labInmunodiagnostico",
                aria-expanded="true",
                aria-controls="labInmunodiagnostico"
            ) 
                span(data-toggle="collapse" data-target="#labInmunodiagnostico").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Inmunodiagnóstico
    div(id="labInmunodiagnostico" class="collapse hide" aria-labelledby="labInmunodiagnosticoTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                //- TODO: @IsabelNaranjo Agregar aquí lo de inmunodiagnóstico