div(class="card")
    div(class="card-header bg-secondary" id="labMarcadoresTumoralesTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" Calcitonina
                data-target="#labMarcadoresTumorales",
                aria-expanded="true",
                aria-controls="labMarcadoresTumorales"
            ) 
                span(data-toggle="collapse" data-target="#labMarcadoresTumorales").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Marcadores Tumorales
    div(id="labMarcadoresTumorales" class="collapse hide" aria-labelledby="labMarcadoresTumoralesTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesCEACarcinoEmbrionario" name="lab.marcadoresTumorales" value="CEA carcino embrionario") 
                            label(class="text-dark" for="labMarcadoresTumoralesCEACarcinoEmbrionario") CEA carcino embrionario
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesCalcitonina" name="lab.marcadoresTumorales" value="Calcitonina") 
                            label(class="text-dark" for="labMarcadoresTumoralesCalcitonina") Calcitonina
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesAFPAlfaFetoProteina" name="lab.marcadoresTumorales" value="AFP-Alfa-Feto Proteina") 
                            label(class="text-dark" for="labMarcadoresTumoralesAFPAlfaFetoProteina") AFP-Alfa-Feto Proteina
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesHE4" name="lab.marcadoresTumorales" value="HE-4") 
                            label(class="text-dark" for="labMarcadoresTumoralesHE4") HE-4 
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesPSAAntígenoProstáticoEspecífico" name="lab.marcadoresTumorales" value="PSA-antígeno prostático específico") 
                            label(class="text-dark" for="labMarcadoresTumoralesPSAAntígenoProstáticoEspecífico") PSA-antígeno prostático específico 
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesPSALibre" name="lab.marcadoresTumorales" value="PSA libre") 
                            label(class="text-dark" for="labMarcadoresTumoralesPSALibre") PSA libre
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesHCGB" name="lab.marcadoresTumorales" value="HCGB") 
                            label(class="text-dark" for="labMarcadoresTumoralesHCGB") HCGB
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesCa125" name="lab.marcadoresTumorales" value="Ca 125") 
                            label(class="text-dark" for="labMarcadoresTumoralesCa125") Ca 125
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesCa153" name="lab.marcadoresTumorales" value="Ca 15-3") 
                            label(class="text-dark" for="labMarcadoresTumoralesCa153") Ca 15-3
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesCa199" name="lab.marcadoresTumorales" value="Ca 19-9") 
                            label(class="text-dark" for="labMarcadoresTumoralesCa199") Ca 19-9
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesCa724" name="lab.marcadoresTumorales" value="Ca 72-4") 
                            label(class="text-dark" for="labMarcadoresTumoralesCa724") Ca 72-4
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesAntiTPO" name="lab.marcadoresTumorales" value="Anti TPO") 
                            label(class="text-dark" for="labMarcadoresTumoralesAntiTPO") Anti TPO
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesTiroglobulina" name="lab.marcadoresTumorales" value="Tiroglobulina") 
                            label(class="text-dark" for="labMarcadoresTumoralesTiroglobulina") Tiroglobulina
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesNeuroenolasaEspecífica" name="lab.marcadoresTumorales" value="Neuroenolasa específica")
                            label(class="text-dark" for="labMarcadoresTumoralesNeuroenolasaEspecífica") Neuroenolasa específica 
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesLambdaCadenaLigera" name="lab.marcadoresTumorales" value="Lambda cadena ligera") 
                            label(class="text-dark" for="labMarcadoresTumoralesLambdaCadenaLigera") Lambda cadena ligera
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesBeta2Microglobulina" name="lab.marcadoresTumorales" value="Beta 2 microglobulina") 
                            label(class="text-dark" for="labMarcadoresTumoralesBeta2Microglobulina") Beta 2 microglobulina
            .row
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labMarcadoresTumoralesKappaCadenaLigera" name="lab.marcadoresTumorales" value="Kappa cadena ligera") 
                            label(class="text-dark" for="labMarcadoresTumoralesKappaCadenaLigera") Kappa cadena ligera
