div(class="card")
    div(class="card-header bg-secondary" id="labPatologiaTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labPatologia",
                aria-expanded="true",
                aria-controls="labPatologia"
            ) 
                span(data-toggle="collapse" data-target="#labPatologia").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Patología
    div(id="labPatologia" class="collapse hide" aria-labelledby="labPatologiaTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                //- TODO: @IsabelNaranjo 