div(class="card")
    div(class="card-header bg-secondary" id="labPatologiaTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labPatologia",
                aria-expanded="true",
                aria-controls="labPatologia"
            ) 
                span(data-toggle="collapse" data-target="#labPatologia").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Patología
    div(id="labPatologia" class="collapse hide" aria-labelledby="labPatologiaTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labPatologiaPapTest" name="lab.patologia" value="Pap - test") 
                            label(class="text-dark" for="labPatologiaPapTest") Pap - test
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labPatologiaEstudioHistopatológico" name="lab.patologia" value="Estudio histopatológico") 
                            label(class="text-dark" for="labPatologiaEstudioHistopatológico") Estudio histopatológico
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labPatologiaEstudioCitológico" name="lab.patologia" value="Estudio citológico") 
                            label(class="text-dark" for="labPatologiaEstudioCitológico") Estudio citológico  
                 .col-sm
                     .checkbox
                        label                            
                            input(
                                type="checkbox" 
                                checked=false 
                                id="labPatologiaMuestras"
                                data-toggle="collapse"
                                data-target="#labPatologiaMuestrasTexto"
                                name="lab.patologia"
                                value="Muestras:"
                             ) 
                            label(class="text-dark" for="labPatologiaMuestras") Muestras
                            .d-sm-inline-flex.ml-3
                                input(
                                    class="form-control w-300 collapse" 
                                    id="labPatologiaMuestrasTexto" 
                                    type="text"
                                    onchange="$('#labPatologiaMuestras').val('Muestras- ' + this.value)"                                     
                                )                            
            .row
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labPLHPVInvestigaciónPCR"  
                                data-toggle="collapse"
                                data-target="#collapse-HPVInvestigaciónPCR"
                                name="lab.patología"
                                value="HPVInvestigaciónPCR"
                            ) 
                            label(for="labPLHPVInvestigaciónPCR").text-dark HPV Investigación por PCR:
                    .collapse.ml-4(id="collapse-HPVInvestigaciónPCR")
                        label(for="labPLHPVInvestigaciónPCRAltoRiesgo").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labPLHPVInvestigaciónPCRAltoRiesgo"
                                value=" +AltoRiesgo"
                                onchange="var destField = $('#labPLHPVInvestigaciónPCR'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | Alto Riesgo (14 subtipos)&nbsp;
                        label(for="labPLHPVInvestigaciónPCRTotal").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labPLHPVInvestigaciónPCRTotal"
                                value=" +Total"
                                onchange="var destField = $('#labPLHPVInvestigaciónPCR'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | TOTAL (45 subtipos) &nbsp;  