div(class="card")
    div(class="card-header bg-secondary" id="labQuimicaSanguineaTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labQuimicaSanguinea",
                aria-expanded="true",
                aria-controls="labQuimicaSanguinea"
            ) 
                span(data-toggle="collapse" data-target="#labQuimicaSanguinea").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                |Química Sanguínea
    div(id="labQuimicaSanguinea" class="collapse hide" aria-labelledby="labQuimicaSanguineaTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaGlucosaAyunas" name="lab.quimicaSanguinea" value="Glucosa en ayunas") 
                            label(class="text-dark" for="labQuimicaSanguineaGlucosaAyunas") Glucosa en ayunas
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaGlucosaPostprandial" name="lab.quimicaSanguinea" value="Glucosa postprandial") 
                            label(class="text-dark" for="labQuimicaSanguineaGlucosaPostprandial") Glucosa postprandial
            .row
                .col-sm
                    .checkbox
                        label                            
                            input(
                                type="checkbox" 
                                checked=false 
                                id="labQuimicaSanguineaCurvaGlucosa"
                                data-toggle="collapse"
                                data-target="#labQuimicaSanguineaCurvaGlucosaHoras"
                                name="lab.quimicaSanguinea"
                                value="Curva de Glucosa"
                            ) 
                            label(class="text-dark" for="labQuimicaSanguineaCurvaGlucosa") Curva de Glucosa
                            .d-sm-inline-flex.ml-3
                                input(
                                    class="form-control w-50 collapse" 
                                    id="labQuimicaSanguineaCurvaGlucosaHoras" 
                                    type="number" 
                                    min=0 max=8 
                                    placeholder="Horas" 
                                    onchange="$('#labQuimicaSanguineaCurvaGlucosa').val('Curva de glucosa - ' + this.value + 'h')"
                                ) 
                .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                checked=false 
                                id="labQuimicaSanguineaUrea"
                                data-toggle="collapse"
                                data-target="#labQuimicaSanguineaUreaBUNcb"
                                name="lab.quimicaSanguinea"
                                value="Urea"
                            ) 
                            label(class="text-dark" for="labQuimicaSanguineaUrea") Urea
                        .d-sm-inline-flex.ml-3
                            .checkbox
                                label(id="labQuimicaSanguineaUreaBUNcb").collapse
                                    input(
                                        type="checkbox" 
                                        checked=false 
                                        id="labQuimicaSanguineaUreaBUN" 
                                        value="Urea|Urea - BUN"
                                        onchange="var v=this.value.split('|'); $('#labQuimicaSanguineaUrea').val(this.checked ? v[1] : v[0])"
                                    )
                                    label(class="text-dark" for="labQuimicaSanguineaUreaBUN") BUN
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaCreatinina" name="lab.quimicaSanguinea" value="Creatinina") 
                            label(class="text-dark" for="labQuimicaSanguineaCreatinina") Creatinina
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaAcidoUrico" name="lab.quimicaSanguinea" value="Ácido úrico")
                            label(class="text-dark" for="labQuimicaSanguineaAcidoUrico") Ácido úrico
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaLipidosTotales" name="lab.quimicaSanguinea" value="Lípidos totales (Col-Tg-HDL-LDL)") 
                            label(class="text-dark" for="labQuimicaSanguineaLipidosTotales") Lípidos totales (Col-Tg-HDL-LDL)
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaColesterol" name="lab.quimicaSanguinea" value="Colesterol")
                            label(class="text-dark" for="labQuimicaSanguineaColesterol") Colesterol
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaColesterolHDL" name="lab.quimicaSanguinea" value="HDL - Colesterol") 
                            label(class="text-dark" for="labQuimicaSanguineaTiempoColesterolHDL") HDL - Colesterol
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaColesterolLDL" name="lab.quimicaSanguinea" value="LDL - Colesterol")
                            label(class="text-dark" for="labQuimicaSanguineaColesterolLDL") LDL - Colesterol
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaTrigliceridos" name="lab.quimicaSanguinea" value="Triglicéridos") 
                            label(class="text-dark" for="labQuimicaSanguineaTiempoTrigliceridos") Triglicéridos
                .col-sm
                    .checkbox
                        label
                                input(type="checkbox" checked=false id="labCouagulacionVLDL" name="lab.quimicaSanguinea" value="VLDL")
                                label(class="text-dark" for="labCouagulacionVLDL") VLDL
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaApolipoproteinaA" name="lab.quimicaSanguinea" value="Apolipoproteína A")
                            label(class="text-dark" for="labQuimicaSanguineaApolipoproteinaA") Apolipoproteína A
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaApolipoproteinaB" name="lab.quimicaSanguinea" value="Apolipoproteína B") 
                            label(class="text-dark" for="labQuimicaSanguineaApolipoproteinaB") Apolipoproteína B
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaFosfatasaAcida" name="lab.quimicaSanguinea" value="Fosfatasa ácida") 
                            label(class="text-dark" for="labQuimicaSanguineaFosfatasaAcida") Fosfatasa ácida
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaFosfatasaAcidaProstatica" name="lab.quimicaSanguinea" value="Fosfatasa ácida prostática")
                            label(class="text-dark" for="labQuimicaSanguineaFosfatasaAcidaProstatica") Fosfatasa ácida prostática
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaBilirrubinasTID" name="lab.quimicaSanguinea" value="Bilirrubinas (T-I-D)") 
                            label(class="text-dark" for="labQuimicaSanguineaBilirrubinasTID") Bilirrubinas (T-I-D)
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaAmilasa" name="lab.quimicaSanguinea" value="Amilasa")
                            label(class="text-dark" for="labQuimicaSanguineaAmilasa") Amilasa
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaProteinasTotales" name="lab.quimicaSanguinea" value="Proteinas totales") 
                            label(class="text-dark" for="labQuimicaSanguineaProteinasTotales") Proteinas totales
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaLipasa" name="lab.quimicaSanguinea" value="Lipasa")
                            label(class="text-dark" for="labQuimicaSanguineaLipasa") Lipasa
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaAlbuminaGlobulina" name="lab.quimicaSanguinea" value="Albúmina / globulina") 
                            label(class="text-dark" for="labQuimicaSanguineaAlbuminaGlobulina") Albúmina / globulina
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaGlucosa6FosfatoDH" name="lab.quimicaSanguinea" value="Glucosa 6 fosfato DH")
                            label(class="text-dark" for="labQuimicaSanguineaGlucosa6FosfatoDH") Glucosa 6 fosfato DH
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaHBGlicosilada" name="lab.quimicaSanguinea" value="Hb glicosilada") 
                            label(class="text-dark" for="labQuimicaSanguineaHBGlicosilada") Hb glicosilada
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaDeshidrogenasaLactica" name="lab.quimicaSanguinea" value="Deshidrogenasa láctica")
                            label(class="text-dark" for="labQuimicaSanguineaDeshidrogenasaLactica") Deshidrogenasa láctica
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaFructosamina" name="lab.quimicaSanguinea" value="Fructosamina") 
                            label(class="text-dark" for="labQuimicaSanguineaFructosamina") Fructosamina
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaColinesterasa" name="lab.quimicaSanguinea" value="Colinesterasa")
                            label(class="text-dark" for="labQuimicaSanguineaColinesterasa") Colinesterasa
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaHierro" name="lab.quimicaSanguinea" value="Hierro") 
                            label(class="text-dark" for="labQuimicaSanguineaHierro") Hierro
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaVitaminaB12" name="lab.quimicaSanguinea" value="Vitamina B12")
                            label(class="text-dark" for="labQuimicaSanguineaVitaminaB12") Vitamina B12
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaTransferrina" name="lab.quimicaSanguinea" value="Transferrina") 
                            label(class="text-dark" for="labQuimicaSanguineaTransferrina") Transferrina
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaAcidoFolico" name="lab.quimicaSanguinea" value="Ácido fólico")
                            label(class="text-dark" for="labQuimicaSanguineaAcidoFolico") Ácido fólico
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaFerritina" name="lab.quimicaSanguinea" value="Ferritina")
                            label(class="text-dark" for="labQuimicaSanguineaFerritina") Ferritina
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaIndSaturacion" name="lab.quimicaSanguinea" value="Ind. saturación") 
                            label(class="text-dark" for="labQuimicaSanguineaIndSaturacion") Ind. saturación
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaTGO_AST" name="lab.quimicaSanguinea" value="TGO / AST") 
                            label(class="text-dark" for="labQuimicaSanguineaTGO_AST") TGO / AST
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaCPK" name="lab.quimicaSanguinea" value="CPK")
                            label(class="text-dark" for="labQuimicaSanguineaCPK") CPK
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaTGP_ALT" name="lab.quimicaSanguinea" value="TGP / ALT") 
                            label(class="text-dark" for="labQuimicaSanguineaTGP_ALT") TGP / ALT
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaCPK_MB" name="lab.quimicaSanguinea" value="CPK - MB")
                            label(class="text-dark" for="labQuimicaSanguineaCPK_MB") CPK - MB
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaGammaGT" name="lab.quimicaSanguinea" value="Gamma GT") 
                            label(class="text-dark" for="labQuimicaSanguineaGammaGT") Gamma GT
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaTroponina" name="lab.quimicaSanguinea" value="Troponina")
                            label(class="text-dark" for="labQuimicaSanguineaTroponina") Troponina
            .row
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaFosfatasaAlcalina" name="lab.quimicaSanguinea" value="Fostatasa alcalina") 
                            label(class="text-dark" for="labQuimicaSanguineaFosfatasaAlcalina") Fosfatasa alcalina
                .col-sm
                    .checkbox
                        label
                            input(type="checkbox" checked=false id="labQuimicaSanguineaAldolasa" name="lab.quimicaSanguinea" value="Aldolasa")
                            label(class="text-dark" for="labQuimicaSanguineaAldolasa") Aldolasa