div(class="card")
    div(class="card-header bg-secondary" id="labSeroinmunologiaTitulo")
        h2(class="mb-0")
            button(
                class="btn btn-link text-white",
                type="button",
                data-toggle="collapse" 
                data-target="#labSeroinmunologia",
                aria-expanded="true",
                aria-controls="labSeroinmunologia"
            ) 
                span(data-toggle="collapse" data-target="#labSeroinmunologia").arrow-toggle.collapsed
                    i.material-icons.icon-arrow-up expand_more
                    i.material-icons.icon-arrow-down expand_less
                | Seroinmunología
    div(id="labSeroinmunologia" class="collapse hide" aria-labelledby="labSeroinmunologiaTitulo" data-parent="#laboratorio")
        div(class="card-body")
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaAsto" name="lab.seroinmunología" value="Asto") 
                            label(class="text-dark" for="labSeroinmunologíaAsto") Asto
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaLátex" name="lab.seroinmunología" value="Látex") 
                            label(class="text-dark" for="labSeroinmunologíaLátex") Látex 
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaPCR" name="lab.seroinmunología" value="PCR") 
                            label(class="text-dark" for="labSeroinmunologíaPCR") PCR
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaWaalerRose" name="lab.seroinmunología" value="WaalerRose") 
                            label(class="text-dark" for="labSeroinmunologíaWaalerRose") Waaler Rose
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaVDRL" name="lab.seroinmunología" value="VDRL") 
                            label(class="text-dark" for="labSeroinmunologíaVDRL") VDRL
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaRPR" name="lab.seroinmunología" value="RPR") 
                            label(class="text-dark" for="labSeroinmunologíaRPR") RPR   
            .row                
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaHIV" name="lab.seroinmunología" value="HIV") 
                            label(class="text-dark" for="labSeroinmunologíaHIV") HIV
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaFTAABS" name="lab.seroinmunología" value="FTA-ABS") 
                            label(class="text-dark" for="labSeroinmunologíaFTAABS") FTA-ABS    
            .row    
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaSerameba" name="lab.seroinmunología" value="Serameba") 
                            label(class="text-dark" for="labSeroinmunologíaSerameba") Serameba          
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaMonotest" name="lab.seroinmunología" value="Monotest") 
                            label(class="text-dark" for="labSeroinmunologíaMonotest") Monotest
            .row                 
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaHPyloriIgG" name="lab.seroinmunología" value="H. Pylori IgG") 
                            label(class="text-dark" for="labSeroinmunologíaHPyloriIgG") H. Pylori IgG    
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaHPyloriIgA" name="lab.seroinmunología" value="H. Pylori IgA") 
                            label(class="text-dark" for="labSeroinmunologíaHPyloriIgA") H. Pylori IgA    
            .row   
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaHPyloriIgM" name="lab.seroinmunología" value="H. Pylori IgM") 
                            label(class="text-dark" for="labSeroinmunologíaHPyloriIgM") H. Pylori IgM  
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDDengue"  
                                data-toggle="collapse"
                                data-target="#collapse-Dengue"
                                name="lab.seroinmunologia"
                                value="Dengue"
                            ) 
                            label(for="labIDDengue").text-dark Dengue
                    .collapse.ml-4(id="collapse-Dengue")
                        label(for="labIDDengueIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDDengueIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDDengue'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDDengueIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDDengueIgM"
                                value=" +IgG"
                                onchange="var destField = $('#labIDDengue'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;          
            .row                   
                 .col-sm
                     .checkbox
                         label
                            input( type="checkbox" checked=false id="labSeroinmunologíaAglutinaciones" name="lab.seroinmunología" value="H. Aglutinaciones") 
                            label(class="text-dark" for="labSeroinmunologíaAglutinaciones") Aglutinaciones  
                 .col-sm
                    .checkbox
                        label
                            input(
                                type="checkbox" 
                                id="labIDEpsteinBarr"  
                                data-toggle="collapse"
                                data-target="#collapse-EpsteinBarr"
                                name="lab.seroinmunologia"
                                value="Eipsten Barr"                           
                            ) 
                            label(for="labIDEpsteinBarr").text-dark Epstein Barr
                    .collapse.ml-4(id="collapse-EpsteinBarr")
                        label(for="labIDEpsteinBarrIgG").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDEpsteinBarrIgG"
                                value=" +IgG"
                                onchange="var destField = $('#labIDEpsteinBarr'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            )
                            | IgG &nbsp;
                        label(for="labIDEpsteinBarrIgM").checkbox-inline.text-dark
                            input(
                                type="checkbox"
                                id="labIDEpsteinBarrIgM"
                                value=" +IgM"
                                onchange="var destField = $('#labIDEpsteinBarr'); if(this.checked) { destField.val(destField.val() + this.value ) } else {destField.val(destField.val().replace(this.value, ''))}"
                            ).checkbox-inline
                            | IgM &nbsp;                                                                              